.homeContainer{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:30px;
    padding-top: 80px;
   
    
}

.homeTitle{
   width: 67%;
   text-shadow: 0 0 3px #000000;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
  }

.main 
{
    background-image: linear-gradient(rgba(95, 95, 95, 0.482), rgba(60, 57, 57, 0.427)),
    url(" https://res.cloudinary.com/cloud0310/image/upload/v1688583379/marten-bjork-n_IKQDCyrG0-unsplash_ivz5rq.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}